@import "scss/variables";
@import "scss/mixin";

.link {
  width: 90%;
  margin: 0 0 10px;
  background-color: $primary-color;
  cursor: pointer;
  border-radius: 6px;
  transition: all 250ms ease-in-out 0s;
  .ant-card-head-title {
    @include text-style(1rem, #c6dcdc, 700);
  }

  @include layout-md {
    width: 180px;
    justify-content: initial;
    margin-right: 10px;
  }
  @include text-style(1.25rem, $secondary-color, 700);

  &:hover {
    box-shadow: rgba(36, 28, 21, 0.4) 0px 20px 50px;
    transform: translateY(-12px);
    color: $primary-white;
  }
}
@include layout-md {
  .frame-header + .link {
    margin-left: 10px;
  }
}
